<%- include('blocks/header', {bot:bot, user: user, auth: auth}) %>
<div class="row">
  <div class="col-lg-6">
    <div class="card mb-3">
      <h2 class="card-header"><%= guild.name %></h2>
      <!-- <div class="row"> -->
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span><i class="fa fa-users" aria-hidden="true"></i> Roles</span><span class="badge badge-primary badge-pill"><%= `${guild.roles.size}` %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span><i class="fa fa-user" aria-hidden="true"></i> Members</span><span class="badge badge-primary badge-pill"><%= `${guild.memberCount}` %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span><i class="fa fa-android" aria-hidden="true"></i> Bots</span><span class="badge badge-primary badge-pill"><%= `${guild.members.filter(m=>m.user.bot).size}` %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span><i class="fa fa-hashtag" aria-hidden="true"></i> Text Channels</span><span class="badge badge-primary badge-pill"><%= `${guild.channels.filter(c=>c.type==='text').size}`%></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span><i class="fa fa-microphone" aria-hidden="true"></i> Voice Channels</span><span class="badge badge-primary badge-pill"><%= `${guild.channels.filter(c=>c.type==='voice').size}`%></span>
          </li>
        </ul>
      <div class="card-footer text-muted">Server Stats</div>
    </div>
    <div class="col-sm-8 mx-auto" style="margin-top: 15px;">
      <p>
        <a class="btn btn-danger btn-lg" data-toggle="modal" data-target="#serverLeaveModal" role="button">Leave <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        <a class="btn btn-info btn-lg" data-toggle="modal" data-target="#settingsResetModal" role="button">Reset <i class="fa fa-cogs" aria-hidden="true"></i></a>
      </p>
    </div>
  </div>

<div class="col-lg-6">
  <h1 class="display-4">Settings</h1>
  
  <form method="post">
    <% const settings = bot.settings.get(guild.id); %>
    <% for (const key in settings) { %>
    <div class="form-group">
      <label for="<%= key %>"><%= key %></label>
      <input type="text" class="form-control" id="<%= key %>" name="<%= key %>" placeholder="Enter <%= key %>" value="<%= settings[key] %>">
    </div>
    <% } %>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>



<!-- Manage Page Modals -->
<div class="modal fade" id="serverLeaveModal" tabindex="-1" role="dialog" aria-labelledby="serverLeaveModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="serverLeaveModalLabel">Leave Server?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want <%= bot.user.username %> to leave this server?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/leave/<%= guild.id %>" role="button">Leave</a>
      </div>
    </div>
  </div>
</div>

<!-- Manage Page Modals -->
<div class="modal fade" id="settingsResetModal" tabindex="-1" role="dialog" aria-labelledby="settingsResetModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settingsResetModalLabel">Reset Settings?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to reset to the default settings?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/reset/<%= guild.id %>" role="button">Leave</a>
      </div>
    </div>
  </div>
</div>

<% include ./blocks/footer %>